.logo {
    width: 185px;
    height: 32px;
    margin-left: 144px;
    margin-top: 22px;
    display: inline-block;
}

.menu {
    list-style-type: none;
    margin-left: 321px;
    color: #2F281E;
    display: inline-block;
}



#list {
    margin-top: 22px;
    margin: 20px;
    color: #2F281E;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
    text-decoration: none;
}

.signin {
    width: 102px;
    height: 46px;
    margin-top: 22px;
    margin-left: 20px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    border-color: #BCD0E5;
    border-style: solid;
    border-radius: 5px;
    color: #173A56;
    display: inline-block;
}

.signup {
    width: 102px;
    height: 46px;
    margin-top: 22px;
    margin-left: 20px;
    background-color: #FF9900;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
}

.design {
    display: flex;
    display: inline-block;
}

.h1 {
    max-width: 518px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 0px;
    color: #2F281E;
    margin-left: 145px;
    margin-top: 113px;
    display: flex;
    display: inline-block;
}




.main-info {
    margin-left: 145px;
    max-width: 458px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #544837;
    margin-left: 145px;
    margin-top: 30px;
}

.img-one {
    max-width: 535px;
    width: 100%;
    margin-top: 127px;
    margin-left: 90px;
    display: flex;
    display: inline-block;
}



.start-btn {
    width: 175px;
    height: 53px;
    margin-top: 45px;
    margin-left: 145px;
    background-color: #FF9900;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    letter-spacing: 0px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    
}

.watch-btn {
    width: 175px;
    height: 53px;
    margin-top: 60px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal; 
    font-weight: bold;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: underline;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #FF9900;
    display: inline-block;
}



/*
.h2-first {
    max-width: 539px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: auto;
    letter-spacing: 0px;
    color: #2F281E;
    margin-top: 112px;
    display: flex;
    justify-self: center;
}*/

.cards {
    max-width: 1095px;
    margin-top: 54px;
    margin-left: 145px;
    display: flex;
    display: inline-block;
}

.card {
    max-width: 240px;
    display: flex;
    display: inline-block;
}

.card-h2 {
    max-width: 539px;
    margin-left: 50px;
    display: flex;
    justify-self: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: auto;
    letter-spacing: 0px;
    color: #2F281E;
} 

.card-subhead {
    margin-left: 50px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: auto;
    letter-spacing: 0px;
    color: #2F281E;
}

.card-info {
    max-width: 240px;
    margin-left: 50px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #2F281E;
}

.card-btn {
    width: 175px;
    height: 53px;
    margin-top: 34px;
    background-color: #FF9900;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    letter-spacing: 0px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
  
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

.professionals {
    display: flex;
    display: inline-block;
}

.img-two {
    max-width: 535px;
    width: 100%;
    margin-left: 104px;
    display: inline-block;
}

.h2-second {
    margin-top: 10x;
    margin-left: 145px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0px;
    color: #2F281E;
}

.minihead {
    margin-top: 210px;
    margin-left: 145px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: medium;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0px;
    color: #544837;
}

.subheader {
    margin-top: 10px;
    margin-left: 145px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #2F281E;
}


.info {
    max-width: 486px;
    margin-top: 10px;
    margin-left: 145px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-weight: medium;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #544837;
}

.managers {
    display: flex;
    display: inline-block;
}

.img-three {
    max-width: 535px;
    width: 100%;
    margin-top: 98px;
    margin-right: 720px;
    margin-left: 145px;
    display: flex;
    display: inline-block;
 
}

.h2-right {
    /*max-width: 486px;*/
    margin-top: 10x;
    margin-left: 780px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0px;
    color: #2F281E;
}

.minihead-right {
    /*max-width: 486px;*/
    margin-top: 210px;
    margin-left: 780px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: medium;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0px;
    color: #544837;
}



.info-right {
    max-width: 486px;
    margin-top: 10px;
    margin-left: 780px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-weight: medium;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #544837;
}


.list {
    max-width: 486px;
    margin-top: 10px;
    margin-left: 780px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-weight: medium;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #544837; 
}





.marketers {
    display: flex;
    display: inline-block;
}

.img-four {
    max-width: 541px;
    width: 100%;
    margin-left: 82px;
    display: flex;
    display: inline-block;
}



.footer {
    max-width: 1109px;
    height: 308px;
    margin-top: 146px;
    margin-left: 145px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-weight: medium;
    font-size: 16px;
    line-height: 35px;
    display: flex;
    display: inline-block;
}

.img-logo{
    max-width: 185px;
    height: 32px;
    margin-top: 250px;
    margin-left: 145px;
    display: flex;
    display: inline-block;
}

.list-first {
    margin-top: 27px;
    margin-left: 128px;
    display: flex;
    display: inline-block;
}

.list-second {
    margin-top: 27px;
    margin-left: 128px;
    display: flex;
    display: inline-block;
}

.nav {
    display: flex;
    display: inline-block;
}

.footer-btn {
    width: 175px;
    height: 53px;
    margin-top: 45px;
    margin-left: 944px;
    background-color: #FF9900;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    letter-spacing: 0px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    display: inline-block;
}










